LITELLM_MASTER_KEY="sk-1234"
LITELLM_SALT_KEY=""
LITELLM_DB_SCHEMA="litellm"

DB_HOST="db"
DB_PORT="5432"
DB_NAME="litellm_db"
DB_USER="litellm_user"
DB_PASSWORD="password"

DB_URL="postgresql://litellm_user:password@db:5432/litellm_db"

OPENAI_API_KEY=""
